/* Global */
:root {
  --turquoise: #05b1b1;
  --violet: #52339a;
}

/* Header */
header,
footer,
section {
  padding: 100px 0;
}

header {
  padding: 200px 0;
}

header,
footer {
  background: url(../img/pattern.png), var(--turquoise);
  background: url(../img/pattern.png),
    -moz-linear-gradient(left, var(--turquoise) 0%, var(--violet) 100%);
  background: url(../img/pattern.png),
    -webkit-linear-gradient(left, var(--turquoise) 0%, var(--violet) 100%);
  background: url(../img/pattern.png),
    linear-gradient(to right, var(--turquoise) 0%, var(--violet) 100%);
  filter: url(../img/pattern.png),
    progid:
      DXImageTransform.Microsoft.gradient(
        startColorstr=var(--turquoise),
        endColorstr=var(--violet),
        GradientType=1
      );
  background-size: contain;
}

.itd_play {
  background-color: var(--turquoise);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 30px auto;
  transition: all 0.2s ease;
}

.itd_play:hover {
  background-color: var(--violet);
}

.itd_triangle {
  width: 0;
  height: 0;
  margin-right: -3px;
  border-style: solid;
  border-width: 10px 0 10px 20px;
  border-color: transparent transparent transparent var(--bs-white);
}

.btn-itd {
  display: block;
  max-width: 200px;
  margin: 0 auto;
  padding: 8px 30px;
  color: var(--bs-white);
  background-color: var(--violet);
}

.btn-itd:hover {
  color: var(--bs-white);
  background-color: var(--turquoise);
}

/* Modal */
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* About section */
.about,
.schedule {
  background-color: #eee;
}

.about i {
  font-size: 25px;
  color: var(--violet);
}

.itd_circle {
  margin: 0 auto 15px;
  width: 70px;
  height: 70px;
  border: 3px solid var(--violet);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  width: 100px;
  height: 3px;
  background-color: var(--turquoise);
  margin: 15px auto 30px;
}

/* Forwhom section */
.forwhom h5 {
  padding: 50px;
  border: 3px solid var(--turquoise);
}

/* Schedule section */
.accordion-button:not(.collapsed) {
  color: var(--bs-white);
  background-color: var(--violet);
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
}

/* Learning section */
.learning {
  padding-bottom: 0;
}

.learning h5 {
  padding: 25px;
  border: 3px solid var(--turquoise);
}

/* Colors */
.turquoise {
  color: var(--turquoise);
}

.violet {
  color: var(--violet);
}

.bg-turquoise {
  background-color: var(--turquoise);
}

.bg-violet {
  background-color: var(--violet);
}
